.movie {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  border-style: none;
  width: 100%;
  height: 90%;
  background-color: gold;
  overflow: scroll;
  z-index: 3;
}

.DWMWhead {
  font-size: 4.3rem;
  padding: 0.4rem;
}

.DWMWimg {
  display: block;
  border-radius: 50%;
  border-style: none;
  width: 10rem;
}

.DWMWinfo {
  font-family: cursive;
  font-size: 2.2rem;
  color: blue;
  line-height: 2.3rem;
  text-indent: 3rem;
}

.crypto-text {
  font-family: cursive;
  font-size: 0.97rem;
  color: grey;
}

.watchDWMW {
  display: block;
  border-radius: 20px 15px 10px 32px;
  width: 8rem;
  background-color: blue;
  color: gold;
  font-family: cursive;
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

.DWMWbuttons {
  float: left;
  margin-top: 1rem;
  margin-left: 8.5rem;
  width: 8rem;
  background-color: gold;
  color: blue;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
